<div class="my-container mx-auto  w-100" >
  <div class="outer">
      <div class="container" >
          <div class="row mt-5">
          <div class="col-md-6 " style="width: 40%;" >
                  <div class="panel border " >
                      <div class="panel-heading">
                          <h3 class="pt-2 m-1 my-rounded-corner text-center bg-dark text-white" >Register Here</h3>
                      </div>
                      <div class="panel-body p-3">
                  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                      <!-- 2 column grid layout with text inputs for the first and last names -->
                      <div class="row mb-2">
                        <div class="col">
                          <div data-mdb-input-init class="form-outline">
                            <input type="text" id="employeeFirstName" class="form-control" formControlName="employeeFirstName" />
                            <label class="form-label" for="employeeFirstName">First name</label>
                          </div>
                        </div>
                        <div class="col">
                          <div data-mdb-input-init class="form-outline">
                            <input type="text" id="employeeLastName" class="form-control" formControlName="employeeLasName"/>
                            <label class="form-label" for="employeeLastName">Last name</label>
                          </div>
                        </div>
                      </div>
                    
                      <!-- Text input -->
                      <div data-mdb-input-init class="form-outline mb-2">
                        <input type="date" id="employeeDateJoin" class="form-control" formControlName="employeeDateJoin" />
                        <label class="form-label" for="employeeDateJoin">Joining</label>
                      </div>
                    
                      <!-- Text input -->
                      <div data-mdb-input-init class="form-outline mb-2">
                        <input type="text" id="employeeAddress" class="form-control" formControlName="employeeAddress" />
                        <label class="form-label" for="employeeAddress">Address</label>
                      </div>
                    
                      <!-- Email input -->
                      <div data-mdb-input-init class="form-outline mb-2">
                        <input type="email" id="employeeEmail" class="form-control" formControlName="employeeEmail"/>
                        <label class="form-label" for="employeeEmail">Email</label>
                      </div>
                    
                      <!-- Number input -->
                      <div data-mdb-input-init class="form-outline mb-2">
                        <input type="text" maxlength="10" id="employeeNumber" class="form-control" formControlName="employeeNumber" />
                        <label class="form-label" for="employeeNumber">Phone</label>
                      </div>
                    <!-- LeaveCount -->

                      <div data-mdb-input-init class="form-outline mb-2">
                          <input type="number" id="employeeLeaveBalance" class="form-control" formControlName="employeeLeaveBalance" />
                          <label class="form-label" for="employeeLeaveBalance">Leave balance</label>
                        </div>
                      

                      <!-- Message input -->
                      <div data-mdb-input-init class="form-outline mb-2">
                        <textarea class="form-control" id="employeeDetail" rows="3" formControlName="employeeDetail"></textarea>
                        <label class="form-label" for="employeeDetail">Extra Detail </label>
                      </div>
                      <div class="mb-2 form-outline">
                          <label for="userRole" class="form-label">Role</label>
                          <select class="form-select" id="userRole" required formControlName="userRole">
                            <option selected disabled value="">Choose Role...</option>
                            <option value="User">User</option>
                            <option value="ProjectManager">Project Manager</option>
                            <option value="TeamLeader">Team Leader</option>
                            <option value="Hr">Hr</option>
                            
                            
                            
                          </select>
                          <div class="invalid-feedback">
                            Please select a valid state.
                          </div>
                        </div>
                        <div data-mdb-input-init class="form-outline mb-2">
                          <input type="password" id="employeePassword" class="form-control" formControlName="employeePassword" />
                          <label class="form-label" for="employeePassword">Password</label>
                        </div>
                      

                    
                      <!-- Checkbox -->
                      <div class="form-check d-flex justify-content-center mb-2">
                        <label class="form-check-label" for="form6Example8"> Create an account? </label>
                      </div>
                    
                      <!-- Submit button -->
                      <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
